h1{
    color: rgb(155, 13, 155); 
    text-align: center; 
    text-decoration: underline;
    text-transform: uppercase; 
    font-style: italic; 
    font-size: xx-large;

}

.main_menu{
    background-color: rgb(100, 9, 56);
    overflow: hidden;
}

.main_menu a{
    padding: 12px 16px ;
    display: block;
    float: left;
    text-decoration: none;
    color: rgb(203, 238, 237);
}

body{

background-color: rgb(239, 233, 242);
}

h2{

color: green;
text-align: justify;
text-decoration: solid;
text-transform:capitalize;
font-style: italic;
 
}


